[submodule "src/cmdline"]
	path = src/cmdline
	url = https://github.com/oscript-library/cmdline
	branch = develop
[submodule "src/json"]
	path = src/json
	url = https://github.com/oscript-library/json.git

[submodule "src/1testrunner"]
	path = src/1testrunner
	url = https://github.com/oscript-library/1testrunner.git
	branch = master
[submodule "src/asserts"]
	path = src/asserts
	url = https://github.com/oscript-library/asserts.git
[submodule "src/logos"]
	path = src/logos
	url = https://github.com/oscript-library/logos.git
[submodule "src/tempfiles"]
	path = src/tempfiles
	url = https://github.com/oscript-library/tempfiles.git
[submodule "src/files-common"]
	path = src/files-common
	url = https://github.com/oscript-library/files-common.git
