[submodule "src/cmdline"]
	path = src/cmdline
	url = https://github.com/oscript-library/cmdline
	branch = develop
[submodule "src/json"]
	path = src/json
	url = https://github.com/oscript-library/json.git
[submodule "1testrunner"]
	path = src/1testrunner
	url = https://github.com/artbear/1testrunner
	branch = develop

