<package-def>
	<module name="ПравилоУстановкиСоответствийОбъектов" file="src/ПравилоУстановкиСоответствийОбъектов.os"/>
	<module name="РежимВыгрузкиКонфигурации" file="src/РежимВыгрузкиКонфигурации.os"/>
	<module name="ТипКонфигурацииДляСравнения" file="src/ТипКонфигурацииДляСравнения.os"/>
	<module name="ТипОтчетаОСравнении" file="src/ТипОтчетаОСравнении.os"/>
	<module name="ФорматФайлаОтчетаОСравнении" file="src/ФорматФайлаОтчетаОСравнении.os"/>
	<class name="УправлениеКонфигуратором" file="src/v8runner.os"/>
	<class name="КонфигурацияСтартера" file="src/v8config-file.os"/>
</package-def>