<package-def>
	<module name="УровниЛога" file="src/levels.os"/>
	<class name="Лог" file="src/log.os"/>
	<module name="Логирование" file="src/log-manager.os"/>	
	<class name="ВыводЛогаВФайл" file="src/file-appender.os"/>
	<class name="ВыводЛогаВКонсоль" file="src/console-appender.os"/>
	<class name="ОсновнаяРаскладкаСообщения" file="src/basic-layout.os"/>
</package-def>